.kb-navbar {
    background-color: black;
}

.kb-navbar .avatar {
    display: inline-block;
}

.content {
    position: relative;
}

.user-list {
    padding: 5px;
    width: 40px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.card {
    background-color: #F8FF75;   
}

.card.dragging {
    width: 300px; /* TODO fix this - this should keep the size not setting it. */
}
.card .title .summary {
    font-size: 1.33em;
}

.card .title span.badge {
    float: right;
}

.card .details {
/*
    float: left;  
    width: 80%;
*/
}

.card .label-list {
    float: right;
    top: 0px;
    margin-right: -35px;
}

.sticker-list .label {
    cursor: pointer;
    background-color: red;
    color: white;
    display: inline-block;
    margin: -2px;
    padding: 5;
    font-size: 0.9em;
}

.card .label-list .label {
    background-color: red;
    color: white;
    display: block;
    margin: 5px 0;
    padding: 5;
    font-size: 0.9em;
}

.card .assignee-list {
    margin-left: -20px;
    padding-right: 10px;
    float: left;
    position: relative;
}

.workspace {
    margin: 0 40px;
}

.sticker-list {
    padding: 5px;
    width: 40px;
    background-color: black;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow-x: hidden;
}

.sticker-list .placeholder {
    display: inline-block;
    height: 23px;
    border-style: dashed;
    border-color: gray;
    margin: 5px;
    padding: 1px;
    border-width: 1px;
    border-radius: 5px;
    width: 100px;
}
.avatar-box {
    width: 32px;
    height: 32px;
    margin: 5px 0   ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #DDD;
    background-color: lightgray;
    text-align: center;
}

.avatar-box img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%; /* Can also be 50px */
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatar-box .glyphicon {
    top: -9px;
    right: -10px;
    color: red;
    background-color: white;
    -webkit-border-radius: 50%; /* Can also be 50px */
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.avatar-box .badge {
    top: -12px;
    left: -10px;
    position: relative;
}
.avatar-box .badge.overload {
    background-color: red;
}
.avatar-box .badge.warning {
    background-color: orange;
}
