<div class="kb-navbar">
    <button type="button" class="btn btn-default navbar-btn" ng-click="login()">Login</button>
    <button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Logout</button>
    <kb-avatar-box kb-user="currentUser" class="avatar" />
</div>
<div class="content">
<div class="user-list">
    <kb-avatar-box ng-repeat="user in users"
                   kb-user="user" 
                   ng-drag="true"
                   ng-drag-data="user"
                   kb-index="(cards | filter: {status: 'InProgress', assignees: user.id}).length"
                   kb-index-max="2"
                   />
</div>
<div class="workspace row">
    <div myCustomer></div>
    <div class="panel panel-default col-md-4"
         ng-repeat="column in columns"
         ng-drop="true" 
         ng-drop-success="onDropToState($data, column.status);">
        <div class="panel-heading">
            {{column.title}} 
            <span class="badge" ng-show="column.limit">{{column.limit}}</span>          
        </div>
        <div class="panel-body">
            <div class="list-group">
                <span class="list-group-item card"
                   ng-drop="true" 
                   ng-drop-success="onDropToCard($data, card);"
                   ng-drag="true" 
                   ng-drag-data="card"
                   ng-drag-start="onDragCard($data, $event)"
                   ng-repeat="card in filteredCards = (cards | filter: {status: column.status})">
                    <div class="title list-group-item-heading">
                        <span class="summary">{{card.summary}}</span>
                        <span class="badge">{{card.points}}</span>
                    </div>
                    <div class="list-group-item-text clearfix">
                        <div class="assignee-list" ng-show="column.showAssignees">
                            <kb-avatar-box kb-user-id="userId" 
                                           ng-repeat="userId in card.assignees" 
                                           ng-drag="true"
                                           ng-drag-data="{ type: 'user', id: userId}"
                                           ng-drag-success="removeUser($data, card)"
                                           kb-remove="removeUser($data, card)" />
                        </div>
                        
                        <div class="label-list">
                            <kb-sticker ng-repeat="label in card.labels"
                                        kb-label="label"
                                 ng-drag="true" 
                                 ng-drag-data="{ type: 'label', label: label}"
                                 ng-drag-success="removeLabel(label, card)"
                                 kb-remove="removeLabel(label, card)" />
                        </div>
                        <span class="details">{{card.details}}</span>
                        
                    </div>
                    
                </span>
                <span class="list-group-item" ng-hide="filteredCards.length">
                    <span>Drop here</span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="sticker-list">
    <div class="placeholder" ng-repeat="label in labels" >
        <div class="label" ng-drag="true" ng-drag-data="{ type: 'label', label: label}">{{label}}</div>
    </div>
</div>
</div>