<div class="avatar-box">
        <img gravatar-src="kbUser.email" gravatar-size="30" />
        <span class="glyphicon glyphicon-remove-sign" ng-click="onRemove($event);" ng-show="removable"></span>
        <span class="badge" ng-show="kbIndex" ng-class="kbIndexClass">{{kbIndex || '0'}}</span>
<!--        {{user.initials}}-->
    </div>